<h1>Checkout</h1>
<div class="row">
  <div class="col-md-6">
    <h3>Order Detail</h3>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Pizza</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <% session[:cart].each_with_index do |p, i| %>
          <tr>
            <td><%= p['name'] %></td>
            <td><%= Pizza.get_price(p['id'])+session[:crust][i]['price'] %></td>
          </tr>
          <% @total += Pizza.get_price(p['id']) + session[:crust][i]['price'] %>
        <% end %>
      <tr>
        <th>Total:</th>
        <th><%= @total %></th>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-6">
    <h2>Delivery information</h2>
    <p><b>Address 1: </b><%= session[:delivery]['address_1'] %></p>
    <p><b>Address 2: </b><%= session[:delivery]['address_2'] %></p>
    <p><b>Phone: </b><%= session[:delivery]['phone'] %></p>
    <h2>Payment</h2>
    <%= form_for :anyone, url: default_create_order_path do |f| %>
      <div class="form-group">
        <%= f.label :payment %>
        <%= f.text_field :payment, id: :order_payment, class: "form-control" %>
      </div>
      <div class="actions">
        <%= f.submit "Confirm Order", class: "btn btn-success" %>
      </div>
    <% end %>
  </div>
</div>